<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
   <h1>About Me</h1>
   <img src="" alt="me">
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae dolorem non, qui enim officiis eligendi incidunt commodi nam temporibus asperiores quasi ea beatae itaque, ipsum numquam in minus omnis ratione.</p>
   
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic accusamus accusantium quibusdam exercitationem earum pariatur asperiores perferendis provident tempora magni rerum odio, perspiciatis laborum consequatur temporibus eaque nisi facere voluptatem.</p>
    
</body>
</html>